.git
.github
.idea
.vscode

.venv
.venv-*
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov

tests
docs
infrastructure
data
alembic

docker-compose.yml
docker-compose.dev.yml

.env
*.pem
*.key

README.md
Makefile
scripts
