:80 {
    encode gzip

    handle_path /health {
        reverse_proxy gateway:8000
    }

    handle_path /ready {
        reverse_proxy gateway:8000
    }

    handle_path /core/* {
        reverse_proxy core:8001
    }

    handle_path /receipt/* {
        reverse_proxy receipt-worker:8002
    }

    handle_path /transaction/* {
        reverse_proxy transaction-worker:8003
    }

    reverse_proxy gateway:8000
}
