# Region
region = "us-ashburn-1"

# Compartment
# Usually the same as your Tenancy OCID (Root Compartment)
compartment_ocid = "ocid1.tenancy.oc1..aaaaaaa..."

# SSH Key
ssh_public_key = "ssh-rsa AAAA..."

# Instance Configuration (Always Free)
instance_shape         = "VM.Standard.A1.Flex"
instance_ocpus         = 4
instance_memory_in_gbs = 24
